body {
    background-color: #f8f9fa;
}

.btn-dark-entrar {
    color: #ffc107;
}

.titulo1 {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-link {
    color: white;
}

.lead {
    color: white;
}

.titulo-cadastro {
    color: black;
}

.btn-avancar {
    float: right;
}

.btn-guardar {
    float: right;
}

.btn-voltar:hover {
    background-color: #ffc107;
    color: white;
}